always-auth=true

@korterra:registry=https://pkgs.dev.azure.com/KorTerra/_packaging/Platform-Feed/npm/registry/
@agrejus:registry=https://registry.npmjs.org/
; begin auth token
//pkgs.dev.azure.com/KorTerra/_packaging/Platform-Feed/npm/registry/:username=KorTerra
//pkgs.dev.azure.com/KorTerra/_packaging/Platform-Feed/npm/registry/:_password=dTR5eGt2bW1sZ2RiY3Z3cDJ0dHRpczZoZ2dzb21xbnVkb29tYjZrMmNramdvdG5uZmxoYQ==
//pkgs.dev.azure.com/KorTerra/_packaging/Platform-Feed/npm/registry/:email=jdemeuse@korterra.com
//pkgs.dev.azure.com/KorTerra/_packaging/Platform-Feed/npm/:username=KorTerra
//pkgs.dev.azure.com/KorTerra/_packaging/Platform-Feed/npm/:_password=dTR5eGt2bW1sZ2RiY3Z3cDJ0dHRpczZoZ2dzb21xbnVkb29tYjZrMmNramdvdG5uZmxoYQ==
//pkgs.dev.azure.com/KorTerra/_packaging/Platform-Feed/npm/:email=jdemeuse@korterra.com
; end auth token